.content{
    pointer-events: none;
    max-height: 50px;
    overflow: hidden;
    margin-top: 10px;
}

.content>img{
    display: none;
}
#resultWrapper{
    position: relative;
    width: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 100px 0 100px;
    background: #fff;
  }
#notesColumn{
    z-index: 7;
    box-shadow: 10px 0px 10px #ccc;
}
#demo{
    height: 80%;
    width: 86%;
    border: solid 30px #fff;
    border-right: solid 15px #fff;
    box-shadow: 0 0 10px #00000044;
    background: #fff;
    border-radius: 15px;
    overflow-y: scroll;
    cursor: pointer;
    padding-right: 5px;
}

#demoTitle{
    position: absolute;
    left: 50%;
    top: 50px;
    width: 60%;
    transform: translateX(-50%);
    background: linear-gradient(to right, #00000000, #00000022, #00000000);
    text-align: center;
    padding: 5px;
    color: #000000;
}

#demoText > img{
    display: block;
    margin: 10px 0;
    min-width: 100%;
}
#noteDate{
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
}

.add-button {
    display: none;
    pointer-events: none;
}

.printPage{
    right: 1em;
}

.deleteNote {
  transform: translateX(unset);
}

@media (max-width: 1024px){
    #resultWrapper{
        width: 100%;
        height: 75%;
        padding: 0;
    }
    #demo::before, .noteDate{
        display: none;
    }
    #demoTitle{
        top: 3px;
    }

}
/* print media */
@media print {
  
    #notesColumn *{
      display: none;
    }

    .user-buttons {
        display: none;
    }

}