/* --- Main-section --- */
.mainText {
  width: 78%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em 2em 0 2em;
}

/* --- title-section --- */
.title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    margin-top: 0.5em;
  }
  
  #title {
    background: linear-gradient(to right, #00000000, #00000022, #00000000);
    text-align: center;
    color: #000000;
    font-size: 1.8rem;
    width: 40vw;
    padding: 0.2em 1em;
    outline: none;
    border: none;
    border-radius: 4px;
  }
  #noteDate {
    color: #aaa;
    margin-top: 10px;
  }

  /* --- note-section --- */
.note-section {
    width: 78%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 0.5em;
    overflow-y: scroll;
    border: solid 30px #fff;
    box-shadow: 0 0 10px #00000044;
    border-radius: 15px;
  }

  /* NOTEFIELD*/
#note-field {
    width: 100%;
    padding: 2em;
    border-radius: 4px;
    font-size: 1em;
    resize: none;
    overflow-y: scroll;
    outline: none;
    min-height: 65vh;
  }
  #note-field::-webkit-scrollbar {
    display: none;
  }
  .updateModeBorder {
    border: solid 2px #aaa;
  }

/* Styling for images */
#note-field img {
    margin: 10px 0;
    min-width: 100%;
    display: block;
}

/* SAVE NOTE BUTTON */
  #save-notes {
    padding: 0.5em 5em;
    background-color: #005392;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    transform: translateY(-20%);
  }

  #save-notes:hover {
    background-color: #0f77c7;
  }

  .hide-btn {
    display: none;
  }

  /* MAKE NEW NOTE & PRINT BUTTONS */  
.user-buttons {
  display: flex;
  gap: 1em;
  position: fixed;
  bottom: 2em;
  right: 5em;
}

  .fa-pen-to-square {
    color: white;
    font-size: 1.5rem;
  }

  #printPage{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    border-style: none;
    padding-top: .5em;
  }
  
  .add_PrintButton {
    background-color: #005392;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;   
    cursor: pointer;
  }

  .add_PrintButton:hover {
    transform: scale(1.2);
    box-shadow: 3px 3px 5px #ccc;
  }
  
  /* print media */
@media print {
  
    .title-section, 
    #note-field,
    .mainText{
      min-width: 100%;
      border: none;
    }

    .note-section{
      border-style: none;
      border: none;
    }
  
    .side,
    .notes-column, 
    #toolbar,
    .add-note,
    .printPage,
    #noteDate{
      display: none;
    }
  
    .user-buttons {
      display: none;
  }
}

/* ---- MEDIA QUERY ---- */
@media (max-width: 1024px){
  .mainText {
    width: 100%;
    padding: 0.5em;
  }
  
  #title {
    font-size: 1rem;
    padding: 0.1em;
  }
  
  #noteDate {
    margin-top: 5px;
    font-size: 0.9rem;
  }

  .note-section {
    width: 100%;
    height: 60vh;
    border: solid 20px #fff;
    border-bottom: solid 2px #fff;
    margin-bottom: 1em;
    margin-top: 0em;
  }

  #note-field {
    min-height: 47vh;
    margin-bottom: 0.8em;
  }

  .user-buttons {
    width: 100%;
    gap: 1em;
    position: unset;
    justify-content: center;
    padding-bottom: 15px;
  }
}
