/* info modal section */
.modalWindow {
  position: relative;
  width: 50%;
  background-color: white;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  max-height: 70%;
  overflow-y: scroll;
  border-radius: 8px;
  text-align: justify;
  text-justify: inter-word;
}

.modalButton {
  font-size: 35px;
  width: 1.5rem;
  padding: 0.5rem;
  background-color: transparent;
  color: #005392;
  border: none;
  position: absolute;
  top: -12px;
  right: 10px;
}

.modalButton:hover {
  text-decoration: none;
  color: #920000;
  cursor: pointer;
}

.modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
}

.modalText {
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2em;
  line-height: 1.5;
  font-size: 1.3rem;
  margin-bottom: 1em;
}

.modalTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-top: 1em;
}

@media (max-width: 1024px){
  .modalWindow {
    width: 80%;
  }

  .modalText {
    width: 90%;
    margin-top: 1em;
    font-size: 1.1rem;
    margin-bottom: 0.5em;
  }
  
  .modalTitle {
    font-size: 1.5rem;
    margin-top: 0.5em;
  }
}
