* {
  box-sizing: border-box;
  margin: 0;
}

.search-container {
  width: 78%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-field {
  width: 30vw;
  height: 2rem;
  border: solid 1px #aaa;
  border-radius: 15px;
  padding: 15px;
}

.search-icon {
  font-size: 3rem;
  margin-bottom: 1em;
}

@media (max-width: 1024px){
  .search-container {
    width: 100%;
    padding: 20px;
  }

  #search-field {
    width: 100%;
    text-align: center;
    outline: none;
  }
}
