:root{
    --lightBlue: #007dfb;
    --darkBlue: #0066b4;
    --menuColor: #e5e5e5;
    --contentColor: #f9f9f9;
    --darkGrey: #555;
    --mediumGrey: #888;
    --lightGrey: #bbb;
    --lightOn: #0f0;
    --lightOff: #d00;
    --commonSize: 20px;
    --fontFamily: 'Times New Roman', Times, serif;
}
*{
    font-family: var(--fontFamily);
    outline: none;
}
main{
    position: relative;
}
section{
    width: 100%;
    height: 100%;
    user-select: none;
    overflow-y: scroll;
    padding: 100px 0;
}
#resetSettings{
    padding: 0.5em 5em;
    background-color: #005392;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    transform: translateY(-20%);
    margin-top: 5em;
}

#resetSettings:hover{
    background-color: #0f77c7;
}

#containerMainWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 70%;
    margin: auto;
}
select, option{
    font-size: 16px;
    color: #000;
}
select{
    border: none;
    background-color: var(--contentColor);
    color: var(--lightBlue);
    cursor: pointer;
}
label{
    margin-right: var(--commonSize);
    padding-left: 4px;
    cursor: pointer;
    white-space: nowrap;
}
.hidden{
    display: none;
}
.container{
    width: 100%;
    border-radius: 30px;
    border: var(--darkGrey) solid 1px;
    background: #fff;
    overflow: hidden;
}
.slide{
    display: flex;
    justify-content: space-between;
    padding: var(--commonSize);
    background-color: var(--darkBlue);
    color: white;
}
.slide > h3, .slide > i{
    pointer-events: none;
}
.toolsWrapper{
    padding: var(--commonSize);
    background-color: var(--contentColor);
}
.backColorWrapper{
    margin-top: var(--commonSize);
    display: none;
    padding: 0 var(--commonSize);
}

.backColorWrapper > div{
    display: flex;
    align-items: center;
}

.color-row {
    margin-top: 1em;
}

#navColorWrapper{
    display: flex;
    flex-wrap: wrap;
}

.rangeWrapper{
    display: flex;
    justify-content: center;
    gap: var(--commonSize);
    width: 100%;
    padding: var(--commonSize) 0;
}
.rangeWrapper > p{
    color: var(--lightBlue)
}
.columnFlex{
    flex-direction: column;
}
input[type="range"]{
    min-width: 80%;
    cursor: pointer;
}

#noteColorWrapper{
    flex-direction: column;
    gap: 5px;
    color: var(--mediumGrey);
    margin-bottom: 10px;
}
#noteColorText{
    margin-bottom: var(--commonSize);
    color: var(--lightBlue);
}
#borderSettingsSmall{
    display: flex;
    justify-content: space-around;
}
#borderSettingsSmall > div{
    display: flex;
    align-items: center;
    gap: 10px;
}
#borderSettingsSmall > div > input{
    min-width: 50%;
}
#slideButton{
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 30px;
    background: var(--lightGrey);
    cursor: pointer;
}
#slideButton > div{
    position: absolute;
    left: 0;
    transform: translateX(-20%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--lightOff);
    transition: 0.1s;
}
#slideButton > div.buttonOn{
    background-color: var(--lightOn);
    left: 100%;
    transform: translateX(-80%);
    border: solid 1px #0000003f;
}
#fontWrapper{
    display: flex;
    justify-content: center;
    padding-top: var(--commonSize);
    margin-top: var(--commonSize);
    border-top: solid 1px var(--lightGrey);
}

@media (max-width: 730px){
    #containerMainWrapper{
        width: 95%; 
    }

    .color-row {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 1em;
    }

    .color-row > div {
        width: 90px;
    }

    #borderSettingsSmall{
        flex-direction: column;
        align-items: start;
        gap: 2.5em;
    }
    #borderSettingsSmall > div > input{
        min-width: 100%;
    }

    .rangeWrapper{
        flex-direction: column;
    }
    
    #borderRangeWrapper{
        display: flex;
        flex-direction: column;
        color: var(--darkBlue);
        width: 100%;
    }
    #transparencyText{
        align-self: flex-start;
    }
}