* {
  box-sizing: border-box;
  margin: 0;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

/* side with nav icons */
.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  height: 100%;
  width: 5%;
  min-width: 70px;
  background-color: #005392;
  box-shadow: 10px 10px 10px #ccc;
  z-index: 2;
}

.logo-div {
  width: 100%;
  color: white;
  background-color: #1c354c;
  text-align: center;
  padding: 0.8em;
}

.logo {
  font-size: 3rem;
}

a:visited {
  text-decoration: none;
  color: white;
}

.menu-icon {
  font-size: 1.5rem;
  color: white;
  background-color: #005392;
  padding: 0.5em;
  border-radius: 10px;
  cursor: pointer;
}

.menu-icon:hover {
  background-color: #5ea7df;
}

.active-icon {
  background-color: #5ea7df;
}

/* Styling for images*/
.note-img {
  max-width: 300px;
  max-height: auto;
}

/* column for note overview */
.notes-column {
  height: 100%;
  width: 20%;
  min-width: 150px;
  background-color: #ebebeb;
  box-shadow: 10px 0px 10px #ccc;
  overflow-y: scroll;
}

.note-list {
  padding-left: 0;
  margin-top: 0.5em;
  border: 5px 5px solid;
  display: flex;
  flex-direction: column;
}
.noteTitle, .noteContent, .note-thumbnail > div{
  pointer-events: none;
}
.note-thumbnail > p > img{
  display: none;
}
.note-thumbnail > p{
  max-height: 50px;
  overflow-y: scroll;
  margin-top: 10px;
}
.note-thumbnail > p::-webkit-scrollbar{
  display: none;
}
.imageWrapper{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin: 10px 0;
}
.imageWrapper > img{
  width: 39px;
  height: 39px;
  object-fit: cover;
}
.greyStar {
  filter: saturate(0%);
}
.star,
.deleteNote {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  color: #fa0;
}
.star > i, .deleteNote > i{
  pointer-events: none;
}
.deleteNote {
  top: 35px;
  right: 10px;
  font-size: 20px;
  font-weight: normal;
  color: #d01;
  display: none;
}
.noteDeleted{
  transform: translateX(-100%);
  transition: 0.3s;
}
.note-thumbnail:hover > .deleteNote {
  display: block;
}

/* Class to add in js when creating listelement */
.note-thumbnail {
  position: relative;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 0.5em 1.7em;
  list-style: none;
}

.note-thumbnail .thumbnailDate {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 12px;
  color: #a1a0a0;
}

.thumbnailDate{
  opacity: 0;
}
.note-thumbnail:hover > .thumbnailDate{
  opacity: 1;
}

/* Class to display which listelement is viewed */
.active-note {
  background-color: #f9f8f8;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.mainText {
  width: 78%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em 2em 0 2em;
}

/* --- title-section --- */
.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.5em;
}

#title {
  font-size: 1.6rem;
  width: 40vw;
  padding: 0.2em 1em;
  outline: none;
  border: none;
  border-radius: 4px;
}
#noteDate{
  color: #aaa;
  margin-top: 10px;
}

/* --- toolbar-section ---  */
.toolbar {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 0.7em;
  padding: 0.8em 1.5em;
  border-radius: 40px;
  background-color: rgba(94, 167, 223, 0.3);
  font-size: 1.2rem;
}
.showToolbar{
  display: flex;
}

.toolbar select {
  font-size: 1rem;
  padding: 0.2em;
  border: none;
  border-radius: 5px;
}

.tool-icon {
  width: 1.8em;
  height: 1.8em;
  border: 1px solid #ccc;
  padding: 7px;
  text-align: center;
}

.tool-icon_active {
  background-color: white;
}

/* .toolbar-hidden {
  display: none;
} */

/* --- text-types --- */
.h1-option {
  font-size: 1.75rem;
}

.h2-option {
  font-size: 1.65rem;
}

.h3-option {
  font-size: 1.55rem;
}

.h4-option {
  font-size: 1.45rem;
}

.h5-option {
  font-size: 1.35rem;
}

.h6-option {
  font-size: 1.25rem;
}

/* --- font-types --- */
.font-arial {
  font-family: Arial, sans-serif;
}

.font-timesNewRoman {
  font-family: "Times New Roman", serif;
}

/* --- note-section --- */
.note-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 0.5em;
  overflow-y: hidden;
}

.note-section h1 {
  font-size: 1.6rem;
  width: 40vw;
  padding: 0.2em;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #a1a0a0;
}

/* icon for adding a new note */
.add-note {
  background-color: #005392;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 1em;
  right: 1em;
  cursor: pointer;
}
.add-note > i {
  pointer-events: none;
}

.add-note:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 5px #ccc;
}

.fa-pen-to-square {
  color: white;
  font-size: 1.5rem;
}

/* info modal section */
.modalWindow {
  width: 50%;
  height: 50%;
  background-color: white;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
}

.modalButton {
  align-self: flex-end;
  width: 1.5rem;
  margin-bottom: 2rem;
  background-color: #005392;
  color: white;
  border-radius: 8px;
}

.modalButton:hover {
  color: #005392;
  background-color: #819eb5;
  cursor: pointer;
}

.modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
}

.modalText {
  width: 40rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2em;
}

.modalTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

/* NOTES */
.hide-btn {
  display: none;
}

#note-field {
  width: 40vw;
  padding: 2em;
  border-radius: 4px;
  font-size: 1em;
  resize: none;
  overflow-y: scroll;
  outline: none;
  min-height: 58vh;
}
#note-field::-webkit-scrollbar{
  display: none;
}
.updateModeBorder{
  border: solid 2px #aaa;
}

#save-notes {
  padding: 0.5em 5em;
  background-color: #005392;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  transform: translateY(-20%);
}

#note-field img {
  margin: 10px 0;
  min-width: 100%;
  display: block;
}

#save-notes:hover {
  background-color: #0f77c7;
}

.newNotes {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
  border: solid 1px #111;
}
.newNotes > button,
.newNotes > input,
.newNotes > textarea {
  padding: 10px;
  border-radius: 10px;
  border: solid 1px #111;
  outline: none;
}
.newNotes > button {
  background-color: rgb(63, 140, 255);
  color: #fff;
}

/* Image link modal container */
.img-modal {
  font-family: Arial, Helvetica, sans-serif;
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Image link modal styling */
.img-modal-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 9.2% auto;
  padding: 1rem;
  width: 25%;
  height: 200px;
  border-radius: 8px;
  position: relative;
}

.img-modal-label {
  font-size: 1.4rem;
}

/* Input styling */
.img-modal-window input {
  width: 90%;
  height: 25%;
  border: 2px solid #ccc;
  margin-bottom: 0.5rem;
}

/* Exit button */
.img-modal-close-btn {
  font-size: 35px;
  width: 1.5rem;
  padding: 0.5rem;
  color: #005392;
  border: none;
  position: absolute;
  top: -12px;
  right: 10px;
}

.img-modal-close-btn:hover,
.img-modal-close-btn:focus {
  text-decoration: none;
  color: red;
  cursor: pointer;
}

/* Add link button */
.img-modal-add-btn {
  background-color: #005392;
  color: white;
  padding: 15px 15px;
  border: none;
  border-radius: 8px;
  margin-top: 0.3rem;
  cursor: pointer;
  width: 100%;
}

.img-modal-add-btn:hover {
  background-color: #819eb5;
  color: #005392;
}

.error-message {
  color: red;
  position: absolute;
  bottom: 10px;
}

/* Error message shake */
.img-modal-shake {
  animation: shake 0.5s;
}

@keyframes shake {
  10%,
  90% {
    transform: translate(-1px, 0);
  }

  20%,
  80% {
    transform: translate(2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate(-4px, 0);
  }

  40%,
  60% {
    transform: translate(4px, 0);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

/* side with nav icons */
.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  height: 100%;
  width: 5%;
  min-width: 70px;
  background-color: #005392;
  box-shadow: 10px 10px 10px #ccc;
  z-index: 2;
}

.logo-div {
  width: 100%;
  color: white;
  background-color: #1c354c;
  text-align: center;
  padding: 0.8em;
}

.logo {
  font-size: 3rem;
}

a:visited {
  text-decoration: none;
  color: white;
}

.menu-icon {
  font-size: 1.5rem;
  color: white;
  background-color: #005392;
  padding: 0.5em;
  border-radius: 10px;
  cursor: pointer;
}

.menu-icon:hover {
  background-color: #5ea7df;
}

.active-icon {
  background-color: #5ea7df;
}

/* Styling for images*/
.note-img {
  max-width: 300px;
  max-height: auto;
}

/* column for note overview */
.notes-column {
  height: 100%;
  width: 15%;
  min-width: 150px;
  background-color: #ebebeb;
  box-shadow: 10px 0px 10px #ccc;
}

.note-list {
  padding-left: 0;
  margin-top: 0.5em;
  border: 5px 5px solid;
}
.note-thumbnail {
  position: relative;
}
.greyStar {
  filter: saturate(0%);
}
.star,
.deleteNote {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  user-select: none;
}
.deleteNote {
  top: 30px;
  right: 10px;
  display: none;
}
.note-thumbnail:hover > .deleteNote {
  display: block;
}
.note-thumbnail > p {
  margin-top: 10px;
}

/* Class to add in js when creating listelement */
.note-thumbnail {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 0.5em 1.7em;
  margin-bottom: 1em;
  list-style: none;
}

.note-thumbnail .thumbnailDate{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 12px;
  color: #a1a0a0;
}

/* Class to display which listelement is viewed */
.active-note {
  background-color: #f9f8f8;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.mainText {
  width: 78%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
}

/* --- title-section --- */
.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.5em;
}

#title {
  font-size: 1.6rem;
  width: 40vw;
  padding: 0.2em;
  border: 2px solid #ccc;
  border-radius: 4px;
}

/* --- toolbar-section ---  */
.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  gap: 0.7em;
  padding: 0.8em 1.5em;
  border-radius: 40px;
  background-color: rgba(94, 167, 223, 0.3);
  font-size: 1.2rem;
}

.toolbar select {
  font-size: 1rem;
  padding: 0.2em;
  border: none;
  border-radius: 5px;
}

.tool-icon {
  width: 1.8em;
  height: 1.8em;
  border: 1px solid #ccc;
  padding: 7px;
  text-align: center;
}

.tool-icon_active {
  background-color: white;
}

/* .toolbar-hidden {
  display: none;
} */

/* --- text-types --- */
.h1-option {
  font-size: 1.75rem;
}

.h2-option {
  font-size: 1.65rem;
}

.h3-option {
  font-size: 1.55rem;
}

.h4-option {
  font-size: 1.45rem;
}

.h5-option {
  font-size: 1.35rem;
}

.h6-option {
  font-size: 1.25rem;
}

/* --- font-types --- */
.font-arial {
  font-family: Arial, sans-serif;
}

.font-timesNewRoman {
  font-family: "Times New Roman", serif;
}

/* --- note-section --- */
.note-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 0.5em;
}

.note-section h1 {
  font-size: 1.6rem;
  width: 40vw;
  padding: 0.2em;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #a1a0a0;
}

/* icon for adding a new note */
.add-note {
  background-color: #005392;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 1em;
  right: 1em;
  cursor: pointer;
}
.add-note > i {
  pointer-events: none;
}

.add-note:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 5px #ccc;
}

.fa-pen-to-square {
  color: white;
  font-size: 1.5rem;
}

/* info modal section */
.modalWindow {
  width: 50%;
  height: 50%;
  background-color: white;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
}

.modalButton {
  align-self: flex-end;
  width: 1.5rem;
  margin-bottom: 2rem;
  background-color: #005392;
  color: white;
  border-radius: 8px;
}

.modalButton:hover {
  color: #005392;
  background-color: #819eb5;
  cursor: pointer;
}

.modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
}

.modalText {
  width: 40rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2em;
}

.modalTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

/* NOTES */
.hide-btn {
  display: none;
}

#note-field {
  height: 70vh;
  width: 40vw;
  padding: 2em;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 1em;
  resize: none;
}

#save-notes {
  padding: 0.5em 1em;
  margin-bottom: 0.3em;
  background-color: rgba(234, 234, 234);
  border-radius: 4px;
  text-align: center;
  color: rgb(67, 67, 67);
  border: none;
  cursor: pointer;
}

#save-notes:hover {
  background-color: white;
}

.newNotes {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
  border: solid 1px #111;
}
.newNotes > button,
.newNotes > input,
.newNotes > textarea {
  padding: 10px;
  border-radius: 10px;
  border: solid 1px #111;
  outline: none;
}
.newNotes > button {
  background-color: rgb(63, 140, 255);
  color: #fff;
}


/* print media */
@media print {
  body *{
    display: none;
  }

  .title-section, .title-section *{
    display: block;
  }
  #note-field, #note-field *{
    display: block;
  }

  .note-section, .note-section *{
    display: block;
  }
}