* {
  box-sizing: border-box;
  margin: 0;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

/* side with nav icons */
.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  height: 100%;
  width: 5%;
  min-width: 70px;
  background-color: #005392;
  box-shadow: 10px 10px 10px #ccc;
  z-index: 2;
}

.logo-div {
  width: 100%;
  color: white;
  background-color: #1c354c;
  text-align: center;
  padding: 0.8em;
}

.logo {
  font-size: 3rem;
}

a:visited {
  text-decoration: none;
  color: white;
}

.menu-icon {
  font-size: 1.5rem;
  color: white;
  background-color: #005392;
  padding: 0.5em;
  border-radius: 10px;
  cursor: pointer;
}

.menu-icon:hover {
  background-color: #5ea7df;
}

.active-icon {
  background-color: #5ea7df;
}

/* Styling for images*/
.note-img {
  max-width: 300px;
  max-height: auto;
}

/* column for note overview */
.notes-column {
  height: 100%;
  width: 15%;
  min-width: 150px;
  background-color: #ebebeb;
  box-shadow: 10px 0px 10px #ccc;
}

.note-list {
  padding-left: 0;
  margin-top: 0.5em;
  border: 5px 5px solid;
}
.note-thumbnail {
  position: relative;
}
.greyStar {
  filter: saturate(0%);
}
.star,
.deleteNote {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  user-select: none;
}
.deleteNote {
  top: 30px;
  right: 10px;
  display: none;
}
.note-thumbnail:hover > .deleteNote {
  display: block;
}
.note-thumbnail > p {
  margin-top: 10px;
}

/* Class to add in js when creating listelement */
.note-thumbnail {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 0.5em 1.7em;
  margin-bottom: 1em;
  list-style: none;
}

/* Class to display which listelement is viewed */
.active-note {
  background-color: #f9f8f8;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.mainText {
  width: 78%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
}

/* --- title-section --- */
.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.5em;
}

#title {
  font-size: 1.6rem;
  width: 40vw;
  padding: 0.2em;
  border: 2px solid #ccc;
  border-radius: 4px;
}

/* --- toolbar-section ---  */
.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  gap: 0.7em;
  padding: 0.8em 1.5em;
  border-radius: 40px;
  background-color: rgba(94, 167, 223, 0.3);
  font-size: 1.2rem;
}

.toolbar select {
  font-size: 1rem;
  padding: 0.2em;
  border: none;
  border-radius: 5px;
}

.tool-icon {
  width: 1.8em;
  height: 1.8em;
  border: 1px solid #ccc;
  padding: 7px;
  text-align: center;
}

.tool-icon_active {
  background-color: white;
}

/* .toolbar-hidden {
  display: none;
} */

/* --- text-types --- */
.h1-option {
  font-size: 1.75rem;
}

.h2-option {
  font-size: 1.65rem;
}

.h3-option {
  font-size: 1.55rem;
}

.h4-option {
  font-size: 1.45rem;
}

.h5-option {
  font-size: 1.35rem;
}

.h6-option {
  font-size: 1.25rem;
}

/* --- font-types --- */
.font-arial {
  font-family: Arial, sans-serif;
}

.font-timesNewRoman {
  font-family: "Times New Roman", serif;
}

/* --- note-section --- */
.note-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 0.5em;
}

.note-section h1 {
  font-size: 1.6rem;
  width: 40vw;
  padding: 0.2em;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #a1a0a0;
}

/* icon for adding a new note */
.add-note {
  background-color: #005392;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 1em;
  right: 1em;
  cursor: pointer;
}
.add-note > i {
  pointer-events: none;
}

.add-note:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 5px #ccc;
}

.fa-pen-to-square {
  color: white;
  font-size: 1.5rem;
}

/* info modal section */
.modalWindow {
  width: 50%;
  height: 50%;
  background-color: white;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
}

.modalButton {
  align-self: flex-end;
  width: 1.5rem;
  margin-bottom: 2rem;
  background-color: #005392;
  color: white;
  border-radius: 8px;
}

.modalButton:hover {
  color: #005392;
  background-color: #819eb5;
  cursor: pointer;
}

.modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
}

.modalText {
  width: 40rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2em;
}

.modalTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

/* NOTES */
.hide-btn {
  display: none;
}

#note-field {
  height: 70vh;
  width: 40vw;
  padding: 2em;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 1em;
  resize: none;
}

#save-notes {
  padding: 0.5em 1em;
  margin-bottom: 0.3em;
  background-color: rgba(234, 234, 234);
  border-radius: 4px;
  text-align: center;
  color: rgb(67, 67, 67);
  border: none;
  cursor: pointer;
}

#save-notes:hover {
  background-color: white;
}

.newNotes {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
  border: solid 1px #111;
}
.newNotes > button,
.newNotes > input,
.newNotes > textarea {
  padding: 10px;
  border-radius: 10px;
  border: solid 1px #111;
  outline: none;
}
.newNotes > button {
  background-color: rgb(63, 140, 255);
  color: #fff;
}
