* {
  box-sizing: border-box;
  margin: 0;
}

.side {
  height: 100%;
  width: 20%;
  background-color: blue;
}

.mainText {
  width: 80%;
  height: 100%;
  background-color: red;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
}

.modalWindow {
  width: 50%;
  height: 50%;
  background-color: white;
  z-index: 9;
}

.modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
}
