* {
  box-sizing: border-box;
  margin: 0;
  scrollbar-width: none;
  font-family: Arial, Helvetica, sans-serif
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

/* ---- SIDE NAV ---- */
.side {
  width: 5%;
  min-width: 70px;
  background-color: #005392;
  z-index: 2;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.logo-div {
  width: 100%;
  color: white;
  background-color: #00000050;
  text-align: center;
  padding: 0.8em;
}

.logo {
  font-size: 3rem;
}

a:visited {
  text-decoration: none;
  color: white;
}

a{
  text-decoration: none;
  width: 100%;
  text-align: center;
  color: white;
}

.menu-icon {
  font-size: 1.8rem;
  color: white;
  padding: 0.5em;
  border-radius: 10px;
  cursor: pointer;
}

.menu-icon:hover {
  background-color: #ffffff50;
}

.active-icon {
  background-color: #ffffff50;
}

/* ---- SIDE note overview ----*/
.notes-column {
  width: 20%;
  min-width: 150px;
  background-color: #e0e0e0;
  box-shadow: 10px 0px 10px #ccc;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 10px 10px 15px;
}

.note-list {
  padding-left: 0;
  border: 5px 5px solid;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.note-list li {
  list-style: none;
}

/* ---- Mini notes ---- */
.note{
  position: relative;
  padding: 20px 20px 35px 20px;
  background: #f6f6f6;
  border-radius: 10px;
}

.noteTitle,
.noteContent,
.note > div {
  pointer-events: none;
}

.note > p > img {
  display: none;
}

.note > p {
  max-height: 50px;
  overflow-y: scroll;
  margin-top: 10px;
}

.note > p::-webkit-scrollbar {
  display: none;
}

/* --- mini images in mini notes --- */
.imageWrapper {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin: 15px 0 45px 0;
}

.imageWrapper > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* ---- star and delete icons ---- */
.greyStar {
  filter: saturate(0%);
}

.star,
.deleteNote {
  position: absolute;
  top: 8px;
  right: 20px;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  color: #fa0;
}

.note > b{
  top: 15px;
  right: 20px;
  color: #fa0;
}

.star > i,
.deleteNote > i {
  pointer-events: none;
}

.noteDeleted {
  transform: translateX(-100%);
  transition: 0.3s;
}

.note:hover > .deleteNote {
  display: block;
}

.deleteNote {
  top: 45px;
  right: 24px;
  color: #920000;
  display: none;
}

#notesColumn::-webkit-scrollbar, #demo::-webkit-scrollbar{
  background-color: #eeeeee00;
  width: 10px;
}

#notesColumn::-webkit-scrollbar-thumb, #demo::-webkit-scrollbar-thumb{
  background: #0075ce;
  border-radius: 20px;
}

/* mini note date */
/* fixa så det blir samma i js filerna*/
.noteDate{
  position: absolute;
  bottom: 15px;
  font-size: 12px;
  color: #888;
}

.noteDate::first-line{
  color: rgb(0, 140, 255);
  font-weight: bold;
}

/* lägg till den här klassen även i andra js filer så man ser vilken note man är på */
.selectedNote{
  box-shadow: 0 0 10px #00000077;
  background: #fff;
  transition: 0.3s;
}

.selectedNote::before{
  position: absolute;
  content: '';
  right: -2px;
  top: 50%;
  transform: translateY(-50%);
  background: #0075ce;
  width: 20px;
  height: 50%;
  clip-path: polygon(0% 50%, 70% 0%, 100% 0%, 100% 100%, 70% 100%, 0% 50%);
}

.note > h3, .imageWrapper, .noteDate, span, #demoTitle, #demoText{
  pointer-events: none;
}

.note > h3{
  white-space: nowrap;
}

#navButton{
  z-index: 6;
  position: absolute;
  right: 2%;
  top: 0%;
  padding: 27px 15px 30px 30px;
  display: none;
  justify-content: center;
  gap: 4px;
  flex-direction: column;
}
#navButton > div{
  width: 25px;
  height: 4px;
  background: #fff;
  pointer-events: none;
  transition: transform 0.3s ease-in-out;
}

/* ---- MEDIA QUERY ---- */
@media (max-width: 1024px){
  main {
    flex-direction: column;
  }

  .side {
    width: 100%;
    background-color: #005392;
    z-index: 2;
  }

  .nav > a, .nav > i{
    display: none;
  }

  .logo-div {
    width: 100%;
    color: white;
    background-color: #00000050;
    text-align: left;
    padding: 0.8em 1.5em;
  }
  
  .logo {
    font-size: 3rem;
  }

  .notes-column {
    width: 100%;
    min-height: 7em;
    padding: 5px;
    flex-direction: row;
    align-items: center;
  }

  .note-list {
    flex-direction: row;
    overflow: scroll;
  }

  .note {
    min-width: 10em;
    height: 6em;
    padding: 10px;
    text-overflow: ellipsis;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .selectedNote {
    box-shadow: none;
  }

  .star {
  top: 1px;
  right: 10px;
  }

  .deleteNote {
    top: unset;
    bottom: 10px;
    right: 12px;
  }

  .noteDate{
    display: none;
  }
  .noteTitle{
    padding: 0;
  }
  .noteContent {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .imageWrapper {
    display: none;
  }

  #navButton{
    display: flex;
  }
}